.d-flex{
    display: flex;
} 
.flex-col{
    display: flex;
    flex-direction: column;
}

.padd-top-md{
    padding-top: 1rem ;
}
.padd-left-sm{
    padding-left: 0.5rem;
}
.padd-md{
padding: 1rem;
}
.padd-sm{
    padding: 0.5rem;
}
.wd-100{
    width: 100%;
}
.height-vh-100{
    height: 100vh;
}

.wd-50{
    width: 50%;
}

.padd-top-lg{
    padding-top: 1.5rem;
  }
  .padd-btm-lg{
    padding-bottom: 1.5rem;
  }
  .padd-top-sm{
    padding-top: 0.5rem;
  }
  
  .padd-md{
  padding: 1rem;
  }
  .height-100{
    height: 100%; 
  }
  .inline-block{
    display: inline-block;
}
.card-icon{
    color: var(--red-solid);
    cursor: pointer;
}
